<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlm.exam.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.wlm.exam.pojo.Course">
    <!--@mbg.generated-->
    <!--@Table course-->
    <id column="course_no" jdbcType="VARCHAR" property="courseNo" />
    <result column="course_name" jdbcType="VARCHAR" property="courseName" />
    <result column="course_semester" jdbcType="VARCHAR" property="courseSemester" />
    <result column="c_limit" jdbcType="INTEGER" property="cLimit" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    course_no, course_name, course_semester, c_limit, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from course
    where course_no = #{courseNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from course
    where course_no = #{courseNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wlm.exam.pojo.Course">
    <!--@mbg.generated-->
    insert into course (course_no, course_name, course_semester, 
      c_limit, remark)
    values (#{courseNo,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{courseSemester,jdbcType=VARCHAR}, 
      #{cLimit,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wlm.exam.pojo.Course">
    <!--@mbg.generated-->
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="courseNo != null">
        course_no,
      </if>
      <if test="courseName != null">
        course_name,
      </if>
      <if test="courseSemester != null">
        course_semester,
      </if>
      <if test="cLimit != null">
        c_limit,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="courseNo != null">
        #{courseNo,jdbcType=VARCHAR},
      </if>
      <if test="courseName != null">
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseSemester != null">
        #{courseSemester,jdbcType=VARCHAR},
      </if>
      <if test="cLimit != null">
        #{cLimit,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wlm.exam.pojo.Course">
    <!--@mbg.generated-->
    update course
    <set>
      <if test="courseName != null">
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseSemester != null">
        course_semester = #{courseSemester,jdbcType=VARCHAR},
      </if>
      <if test="cLimit != null">
        c_limit = #{cLimit,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where course_no = #{courseNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wlm.exam.pojo.Course">
    <!--@mbg.generated-->
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_semester = #{courseSemester,jdbcType=VARCHAR},
      c_limit = #{cLimit,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where course_no = #{courseNo,jdbcType=VARCHAR}
  </update>

<!--auto generated by MybatisCodeHelper on 2023-08-16-->

    <!--auto generated by MybatisCodeHelper on 2023-08-18-->

  <!--auto generated by MybatisCodeHelper on 2023-08-18-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from course
    </select>

<!--auto generated by MybatisCodeHelper on 2023-08-21-->
  <select id="selectDistinctCLimit" resultType="java.lang.Integer">
    select distinct(c_limit)
    from course
  </select>
</mapper>